<% layout('layout') -%>

<article>
	<h1>about</h1>
	<p>This is blog is nothing but another crappy dev blog with source codes and tuts about how to get things done without digging into problem of solving. Hope it will help in future to any stranger on this site and me of course.</p>

	<p>So if you feel, that this blog sucks and you have an idea, how to fix it (e.g. change some lines of code or design) feel free to propose a pull request on <a href="https://github.com/imslavko/devblog">github</a>.</p>
</article>

<!-- Disqus -->
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'zdeslavablog';
    (function() {var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);})();
</script>
