<!DOCTYPE html> 
<html>
    <head>
        <title>Slava's progress in programming</title>
        <link rel="stylesheet" href="/app.css" type="text/css" charset="utf-8" />
        <link rel="alternate" type="application/rss+xml" title="RSS Feed for http://zde.herokuapp.com" href="/rss/" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" /> 
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <script type="text/x-mathjax-config">  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
        <script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
        <!--
            Dev blog authored by Slava Kim (@imslavko).
        -->
    </head>
    <body>
        <div id="wrap">
            <div id="nav">
                <ul>
                    <li><a href="/">blog</a></li>
                    <li><a href="/about">about</a></li>
                
                </ul>
            </div>
            <div id="content"><%- body %></div>
            <div id="foot">
                Slava Kim &nbsp;&nbsp;
            </div>
        </div>
        <script src="/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/app.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">
            var _gaq = _gaq || [];
             _gaq.push(['_setAccount', 'UA-37747647-1']);
             _gaq.push(['_trackPageview']);

             (function() {
               var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
               ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
               var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
        </script>
    </body>
</html>
